{% extends "layout.html" %}
{% block body %}
    {%if entries %}
    <div align="center">
        <table>
            <tr>
            {% for key in entries[0]%}
                <th>{{key}}</th>
            {% endfor %}
            </tr>
            {%for entry in entries[1:]%}
            <tr>
                {%for value in entry%}
                <td>{{value}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </table>
        {% endif %}
    </div>
{% endblock %}
